!!! 5
html(lang='en-US')
head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='/faye.js')
    meta(charset='UTF-8')
    title FayeChat
  body
    h1 Chat!
    ul#messages
    input#user(type="text", value="User", onfocus="if (this.value=='User') this.value='';")
    br
    input#text(type='text')
    button#publish Send
    script(src='javascripts/client.js')

